.row {
    @include clearfix;

    &--gutters {
        margin-right: -65px;
    }

    &--gutters--large {
        margin-right: -100px;
    }

    &--gutters--small {
        margin-right: -45px;
    }

    &--gutters > div {
        padding-right: 65px;
    }

    &--gutters--large > div {
        padding-right: 100px;
    }

    &--gutters--small > div {
        padding-right: 45px;
    }

    &__b-margin-until-medium {
        margin-bottom: 1rem;
    }

// Begin Equal Height Rules

    &--equal-height-at-large {
        @include atLarge {
            display: flex;
        }

        & > div {
            float: none;
            display: flex;
        }
    }

    &--equal-height-at-medium {
        @include atMedium {
            display: flex;
        }

        & > div {
            float: none;
            display: flex;
        }
    }

    &--t-padding {
        padding-top: 80px;
    }

    @include atMedium {
        margin-bottom: 0;
    }

    @include atMedium {
        @for $i from 1 through 12 {
            &__medium-#{$i} {
                float: left;
                width: ((100%/12) * $i);
            }

            &__medium-#{$i}--larger {
                width: ((100%/12) * $i + 3.33%);
            }


            &__medium-#{$i}--smaller {
                width: ((100%/12) * $i - 3.33%);
            }
        }
    }

    @include atLarge {
        @for $i from 1 through 12 {
            &__large-#{$i} {
                float: left;
                width: ((100%/12) * $i);
            }

            &__large-#{$i}--larger {
                width: ((100%/12) * $i + 3.33%);
            }


            &__large-#{$i}--smaller {
                width: ((100%/12) * $i - 3.33%);
            }
        }
    }
}
